@charset "UTF-8";

/* Base */

html {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  --refRes: 1440;
  font-size: calc(100vw / var(--refRes) * 10);
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  background-color: var(--bg);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
  color: var(--black);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  padding-top: var(--header-height);
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

section {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: calc(var(--container-width) + var(--container-padding) * 2);
  width: 100%;
  height: 100%;
}

.container--fluid {
  padding: 0;
  max-width: 100%;
}

@font-face {
  font-family: HelveticaNeue;
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeue;
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Light.woff2") format("woff2"), url("../fonts/HelveticaNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeue;
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Regilar.woff2") format("woff2"), url("../fonts/HelveticaNeue-Regilar.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeue;
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeue;
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Thin.woff2") format("woff2"), url("../fonts/HelveticaNeue-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: TeXGyreHeros;
  font-display: swap;
  src: url("../fonts/TeXGyreHeros-bold.woff2") format("woff2"), url("../fonts/TeXGyreHeros-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: TeXGyreHeros;
  font-display: swap;
  src: url("../fonts/TeXGyreHeros-regular.woff2") format("woff2"), url("../fonts/TeXGyreHeros-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Главный общий блок */

.border {
  position: relative;
}

.border::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  inset: 0;
  border-radius: 1.5rem;
  padding: 0.1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))) border-box;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%) border-box;
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #000));
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.header-catalog-open .border::before {
  opacity: 1;
}

.swiper-slide {
  height: auto;
}

/* Пагинация слайдера */

/* Кнопка слайдера */

/* Reset and base styles  */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
textarea:focus,
textarea:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.html-no-scroll {
  overflow: hidden !important;
  --f-scrollbar-compensate: 0px;
  max-height: 100vh;
}

.no-scroll {
  overflow: hidden !important;
  overscroll-behavior-y: none;
  max-height: 100vh;
}

:root {
  --font-family: "TeXGyreHeros", sans-serif;
  --second-family: "HelveticaNeue", sans-serif;
  --third-family: "Montserrat", sans-serif;
  --container-padding: 10rem;
  --container-width: 172rem;
  --header-height: 17.6rem;
  --bg: #F5F5F5;
  --white: #ffffff;
  --white-50: rgba(255, 255, 255, 0.5);
  --white-60: rgba(255, 255, 255, 0.6);
  --black: #041D2C;
  --black-10: rgba(4, 29, 44, 0.1);
  --black-30: rgba(4, 29, 44, 0.3);
  --black-50: rgba(4, 29, 44, 0.5);
  --black-70: rgba(4, 29, 44, 0.7);
  --second-black: #1E2327;
  --blue: #35AFDA;
  --green: #52BB79;
  --red: #EE5956;
  --orange: #FF6421;
  --gray: #718595;
  --gray-10: rgba(113, 133, 149, 0.1);
  --gray-15: rgba(113, 133, 149, 0.15);
  --gray-21: rgba(113, 133, 149, 0.21);
  --gray-25: rgba(113, 133, 149, 0.25);
  --gray-50: rgba(113, 133, 149, 0.5);
  --gray-60: rgba(113, 133, 149, 0.6);
  --white-gray: #D9D9D9;
}

/* Components */

/* Кнопки */

.btn {
  --btn-width: fit-content;
  --btn-height: 5rem;
  --btn-padding-x: 2rem;
  --btn-color: var(--black);
  --btn-background: var(--white);
  --btn-border-radius: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 0.5rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: var(--btn-width);
  min-width: var(--btn-height);
  height: var(--btn-height);
  padding: 0 var(--btn-padding-x);
  border-radius: var(--btn-border-radius);
  background-color: var(--btn-background);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 120%;
  text-align: center;
  color: var(--btn-color);
  white-space: nowrap;
  position: relative;
}

.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn--orange {
  --btn-color: var(--white);
  --btn-background: var(--orange);
}

.btn--blue {
  --btn-color: var(--white);
  --btn-background: var(--blue);
}

.dropout {
  padding-top: 2rem;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: calc(100% - 0.5rem);
  right: -1rem;
  z-index: 10;
}

.dropout-parent {
  position: relative;
}

.dropout-show {
  opacity: 1;
  pointer-events: all;
}

.dropout::before {
  content: "";
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyOSAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xNC4yODkxIDBMMjguNTc4NSAyNC43NUgtMC4wMDAzNTY2NzRMMTQuMjg5MSAwWiIgZmlsbD0iIzA0MUQyQyIvPg0KPC9zdmc+DQo=);
  background-repeat: no-repeat;
  background-position-x: center;
  display: block;
  width: 3.3rem;
  height: 3.3rem;
  position: absolute;
  top: 0;
  right: 3rem;
}

.dropout__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  border-radius: 1.5rem;
  background-color: var(--black);
  color: var(--white);
  text-align: left;
}

.dropout__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 0.7rem;
}

.dropout .btn {
  --btn-height: 4rem;
}

/* Стили для иконок */

[class^=icon-],
[class*=" icon-"] {
  --font-size: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: var(--font-size);
  height: var(--font-size);
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: var(--font-size);
  color: inherit;
  position: relative;
  z-index: 1;
}

/* Уникальные иконки */

.icon-telegram {
  color: #2097C9;
}

.icon-whatsapp {
  color: #25D366;
}

/* Главный заголовок страницы */

h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 6rem;
  line-height: 100%;
}

/* Заголовок 1 */

h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 100%;
}

/* Заголовок 2 */

h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 100%;
}

/* Текст */

p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
}

/* Modules */

/* Blocks */

.footer {
  background-color: var(--second-black);
  color: var(--gray);
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 0;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3rem 12rem;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid var(--gray-10);
}

.footer__contact a {
  font-weight: 700;
  font-size: 6rem;
  line-height: 140%;
  color: var(--gray-50);
  white-space: nowrap;
}

.footer__contact a:hover {
  color: var(--gray);
}

.footer__top {
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid var(--gray-10);
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 4.7rem;
}

.footer__item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__item a {
  font-size: 1.2rem;
}

.footer__center {
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid var(--gray-10);
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 10rem;
}

.footer__bottom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1rem;
}

.footer__bottom-wrap p {
  font-size: 1.2rem;
}

.footer__bottom-wrap a:hover {
  text-decoration: underline;
}

.footer__bottom-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1rem;
}

.footer__bottom-links a {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: var(--gray-50);
}

.footer__bottom-links a:hover {
  color: var(--gray);
}

.footer__bottom-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 1rem;
}

.footer__bottom-social a {
  border-radius: 50%;
  border: 0.1rem solid var(--black);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 64, 102, 0.7)), to(rgba(4, 29, 44, 0.7))), #718595;
  background: linear-gradient(180deg, rgba(0, 64, 102, 0.7) 0%, rgba(4, 29, 44, 0.7) 100%), #718595;
}

.footer__bottom-social a:hover i {
  color: var(--white);
}

.footer__bottom-social i {
  --font-size: 4rem;
  color: var(--gray);
}

.header {
  --header-inner-height: 6rem;
  width: 100%;
  position: fixed;
  top: 1.5rem;
  left: 0;
  z-index: 100;
}

.header * {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-fixed .header {
  --header-inner-height: 4.4rem;
}

.header-catalog-open .header {
  color: var(--white);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.6rem;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0 4rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 1.5rem;
  background-color: var(--gray-15);
}

.header-fixed .header__top {
  padding: 0.6rem 1rem 0.6rem 2rem;
}

.header__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

.header__geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.header__geo .dropout {
  right: unset;
  left: -2rem;
  top: calc(100% + 0.1rem);
}

.header__geo .dropout::before {
  right: unset;
  left: 1.3rem;
}

.header__geo .dropout__inner {
  padding: 3rem 4rem 3rem 3rem;
}

.header-catalog-open .header__geo {
  gap: 0.5rem;
}

.header__geo span {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 120%;
  color: var(--black-50);
  text-decoration-style: dotted;
  text-decoration-color: var(--black-50);
  text-decoration-line: underline;
}

.header-catalog-open .header__geo span {
  font-weight: 700;
  color: var(--white);
  text-decoration-color: var(--white);
}

.header__geo i {
  --font-size: 1.6;
  width: 2.4rem;
  height: 2.4rem;
  color: var(--blue);
  background-color: var(--white);
}

.header-catalog-open .header__geo i {
  width: 1.6rem;
  height: 1.6rem;
  color: var(--white);
  background-color: transparent;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
}

.header__nav a {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 120%;
  color: var(--black-50);
}

.header-catalog-open .header__nav a {
  color: var(--white-50);
}

.header__nav a:hover {
  color: var(--black);
}

.header-catalog-open .header__nav a:hover {
  color: var(--white);
}

.header__download {
  --btn-height: 3rem;
  --btn-padding-x: 1.5rem;
  border-radius: 4rem;
  gap: 0.3rem;
  font-size: 1rem;
  color: var(--orange);
}

.header-catalog-open .header__download {
  --btn-height: unset;
  --btn-padding-x: unset;
  background-color: transparent;
  font-size: 1.2rem;
  color: var(--blue);
}

.header-fixed .header__download {
  --btn-height: 2.4rem;
}

.header__download:not(.header-catalog-open .header__download):hover {
  background-color: var(--orange);
  color: var(--white);
}

.header__download i {
  --font-size: 1.6rem;
}

.header-catalog-open .header__download i {
  font-weight: 700;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
}

.header__contact a {
  background-color: var(--white);
  border-radius: 50%;
}

.header-catalog-open .header__contact a {
  background-color: transparent;
}

.header__contact a:not(.header-catalog-open .header__contact a):hover {
  background-color: var(--second-black);
}

.header__contact i {
  --font-size: 3rem;
}

.header-fixed .header__contact i {
  --font-size: 2.4rem;
}

.header-catalog-open .header__contact i {
  width: 1.8rem;
  height: 1.8rem;
  color: var(--white) !important;
}

.header__phone {
  font-weight: 700;
}

.header-catalog-open .header__phone {
  font-size: 1.2rem;
  margin-left: -0.5rem;
}

.header__phone:hover {
  color: var(--blue);
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  background-color: var(--blue);
  -webkit-box-shadow: 0px 12px 33.8px rgba(53, 175, 218, 0.42);
  box-shadow: 0px 12px 33.8px rgba(53, 175, 218, 0.42);
  backdrop-filter: blur(2px);
  border-radius: 1.5rem;
}

.header-catalog-open .header__block {
  background-color: var(--gray-21);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header__btn {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 1rem;
  height: var(--header-inner-height);
  padding: 0 2rem 0 1.5rem;
}

.header-catalog-open .header__btn {
  background-color: var(--blue);
  color: var(--white);
}

.header__btn i {
  color: var(--orange);
}

.header-catalog-open .header__btn i {
  color: var(--white);
}

.header__login {
  --btn-height: var(--header-inner-height);
  padding: 1rem 1.3rem 1rem 1.4rem;
}

.header__search {
  width: 100%;
  height: var(--header-inner-height);
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.header__search:hover::before {
  background: var(--black-70);
  border-color: var(--white);
}

.header__search::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--black-30);
  opacity: 0.48;
  border: 0.1rem solid var(--blue);
  -webkit-box-shadow: inset 0px 0px 11.1px rgba(4, 29, 44, 0.5);
  box-shadow: inset 0px 0px 11.1px rgba(4, 29, 44, 0.5);
  backdrop-filter: blur(4.2px);
  border-radius: 0.8rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.header-catalog-open .header__search::before {
  background: var(--gray);
  border-color: var(--white-60);
}

.header__search-input {
  width: 100%;
  height: 100%;
  padding: 1.8rem 7.4rem 2.2rem 2rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 140%;
  color: var(--white);
}

.header__search-input::-webkit-input-placeholder {
  color: var(--white);
}

.header__search-input::-moz-placeholder {
  color: var(--white);
}

.header__search-input:-ms-input-placeholder {
  color: var(--white);
}

.header__search-input::-ms-input-placeholder {
  color: var(--white);
}

.header__search-input::placeholder {
  color: var(--white);
}

.header__search-btn {
  width: 3.4rem;
  height: 3.4rem;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  right: 2rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header__search:hover .header__search-btn {
  opacity: 1;
}

.header__search-btn i {
  --font-size: 3.4rem;
  color: var(--white);
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 3.5rem;
  padding: 0.3rem 1.5rem 1.7rem 2.3rem;
  border-radius: 0.8rem;
  background-color: var(--white-60);
}

.header-fixed .header__navbar {
  padding: 0.2rem 1.5rem 0.2rem 2.3rem;
}

.header-catalog-open .header__navbar {
  background-color: var(--gray-60);
}

.header__navbar:not(.header-catalog-open .header__navbar):hover {
  background-color: var(--white);
}

.header__navbar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.header__navbar-item:hover i {
  color: var(--blue);
}

.header__navbar-item i {
  --font-size: 4rem;
}

.header__navbar-item span {
  font-size: 1rem;
  line-height: 140%;
  white-space: nowrap;
  position: absolute;
  top: calc(100% - 0.1rem);
}

.header-fixed .header__navbar-item span {
  font-size: 0;
}

.header-catalog-open .header__navbar-item span {
  color: var(--white-50);
}

.header__catalog {
  width: 100%;
  height: 100%;
  background: rgba(4, 29, 44, 0.8);
  backdrop-filter: blur(37.65px);
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.header-catalog-open .header__catalog {
  height: 100%;
}

.header__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  padding-top: 17.3rem;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  background-color: var(--gray-25);
}

.header__item i {
  --font-size: 2.2rem;
  background-color: var(--white);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  color: var(--black);
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.header__item-active {
  background-color: var(--gray);
}

.header__item-active i {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.header__item-img {
  width: 6.6rem;
  height: 6.6rem;
}

.header__item-img img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.header__item-title {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.header__content {
  display: none;
}

.logo {
  display: block;
  width: 13.4rem;
  margin-right: 1.8rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

/* Elements */

/* Pages */

/* Sections */

.hero {
  padding: 5rem 0;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 601px) {
  .btn:hover {
    --btn-color: var(--white);
    --btn-background: var(--black);
  }

  .btn--orange:hover {
    --btn-background: var(--black);
  }

  .header__btn:hover {
    --btn-background: var(--orange);
  }

  .header__btn:hover i {
    color: var(--white);
  }
}

@media (max-width: 834px) {
  html {
    font-size: 62.5%;
  }

  :root {
    --container-padding: 4rem;
  }
}

@media (max-width: 600px) {
  :root {
    --container-padding: 2rem;
  }
}