@use './../mixins' as *;

.breadcrumbs {

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    font-weight: 400;
    font-size: 1.4rem;
    line-height: 100%;

    &::after {
      content: "/";
    }

    &:last-child {

      &::after {
        display: none;
      }
    }
  }

  a {

    &:hover {
      color: var(--blue);
    }
  }
}