@use './../mixins' as *;

/* Кнопки */
.btn {
  --btn-width: fit-content;
  --btn-height: 5rem;
  --btn-padding-x: 2rem;
  --btn-color: var(--black);
  --btn-background: var(--white);
  --btn-border-radius: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.5rem;
  flex-shrink: 0;
  width: var(--btn-width);
  min-width: var(--btn-height);
  height: var(--btn-height);
  padding: 0 var(--btn-padding-x);
  border-radius: var(--btn-border-radius);
  background-color: var(--btn-background);
  transition: all 0.5s ease;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 120%;
  text-align: center;
  color: var(--btn-color);
  white-space: nowrap;

  position: relative;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {

    @include dosm {
      --btn-color: var(--white);
      --btn-background: var(--black);
    }
  }

  &--orange {
    --btn-color: var(--white);
    --btn-background: var(--orange);

    // box-shadow: 0px 10px 19.4px rgba(255, 100, 33, 0.31);

    &:hover {

      @include dosm {
        --btn-background: var(--black);
      }
    }
  }

  &--blue {
    --btn-color: var(--white);
    --btn-background: var(--blue);

    &:hover {
      --btn-background: var(--second-black);
    }
  }

  &--gray {
    --btn-color: var(--white);
    --btn-background: var(--gray);
  }

  &--arrow {
    --btn-height: 4rem;
    --btn-color: var(--blue);
    border-radius: 5rem;
    gap: 1.5rem;
    padding: 0 0.9rem 0 2rem;
    font-size: 1.2rem;

    i {
      --font-size: 2.2rem;

      background-color: var(--blue);
      color: var(--white);
    }
  }
}