@use './../mixins' as *;

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--gray-20);
  flex-shrink: 0;

  pointer-events: all;
  cursor: pointer;

  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;

  &--hidden {
    background-color: transparent;
    width: fit-content;

    &::after {
      display: none;
    }

    .check-label {
      background-color: transparent;
      width: fit-content;
      opacity: 1;

      position: static;
      transform: unset;
    }
  }

  &-label {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background-color: var(--gray);
    flex-shrink: 0;
    transition: opacity 0.3s ease;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);

    &:has(.check-input:checked) {
      opacity: 1;
    }

    span {
      display: none;

      font-weight: 400;
      font-size: 1.2rem;
      line-height: 120%;
      color: var(--blue);

      .check--hidden & {
        display: block;
      }
    }
  }

  &-input {
    visibility: hidden;
    position: absolute;
    top: -999999px;
    left: -999999px;
  }
}