@use './../mixins' as *;

.control {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  &__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 0 3rem;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--white);
    background-color: var(--white-50);

    @include md {
      padding: 0 1.5rem;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 1rem 7rem 1rem 2rem;
    background-color: var(--white-50);
    border: 0.1rem solid var(--white);
    border-radius: 0.8rem;

    font-size: 1.4rem;

    position: relative;

    &-input {
      width: 100%;

      &::placeholder {
        color: var(--gray);
      }
    }

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      height: 5rem;

      position: absolute;
      top: 50%;
      right: 0.6rem;
      transform: translateY(-50%);
    }
  }

  &__btns {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    @include md {
      display: none;
    }
  }

  &__btn {
    --btn-width: 5rem;
    --btn-height: 5rem;
    --btn-color: var(--gray);

    padding: 0;

    &--active,
    &--active,
    &.btn:hover {
      --btn-color: var(--blue);
      --btn-background: var(--white);
    }

    i {
      --font-size: 2rem;
    }
  }

  &__title {

    &--blue {
      color: var(--blue);
    }

    * {
      font-weight: 700;
    }
  }

  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    i {
      --font-size: 2.4rem;

      color: var(--blue);
    }

    &-text {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 120%;

      @include md {
        display: none;
      }
    }
  }
}