@use './../mixins' as *;

.filter {

  *,
  i {
    transition: all 0.3s ease;
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;

    i {
      --font-size: 1.3rem;

      background-color: var(--white);
      margin-left: auto;
      pointer-events: none;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 1.5rem;
    cursor: pointer;

    input {
      display: none;

      &:checked {

        &+.filter__check::before {
          opacity: 1;
        }
      }
    }

    &.active {

      i {
        transform: rotate(180deg);
        background-color: var(--blue);
        color: var(--white);
      }
    }

    &-head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 5rem;
      padding: 1rem 1.5rem;
      background-color: var(--white);
      border-radius: 0.8rem;
      cursor: pointer;

      &.active,
      &:hover {

        .popup-filter & {
          background-color: var(--gray);
          color: var(--white);
        }
      }

      &.active {
        margin-bottom: 1rem;

        i {
          transform: rotate(180deg);
        }
      }
    }

    &-title {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 120%;
      pointer-events: none;

      margin-right: 2rem;
    }
  }

  &__check {
    display: flex;
    width: 2rem;
    height: 2rem;
    background-color: var(--white-50);
    border-radius: 0.4rem;
    flex-shrink: 0;

    position: relative;

    &::before {
      content: "";
      background: var(--blue);
      border-radius: 0.2rem;
      width: 1.4rem;
      height: 1.4rem;
      opacity: 0;
      flex-shrink: 0;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__subgroup {

    &-title {

      .filter__item.active & {
        color: var(--blue);
      }
    }
  }

  &__subgroup,
  &__nested {
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;

    &-content {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    &-title {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 120%;
    }

    &.active {
      grid-template-rows: 1fr;
      opacity: 1;
    }

    i {
      margin-top: 0.3rem;
    }
  }

  &__nested {

    .filter__item {
      padding: 1rem 1.5rem 1rem 4.5rem;
    }
  }

  &__btn {
    --btn-width: 100%;

    justify-content: space-between;
  }
}