@use './../mixins' as *;

.form {

  &-group {
    position: relative;

    &--textarea {
      grid-column: 1/4;

      @include md {
        grid-column: 1/2;
      }

      .form-label {
        padding-left: 0;
      }
    }
  }

  &-input {
    width: 100%;
    height: 5rem;
    padding: 0 2rem;
    border-radius: 0.8rem;
    background-color: var(--white);

    &.filled,
    &:focus,
    &:active,
    &:checked {

      &+.form-label {
        opacity: 0;
      }
    }
  }

  &-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    opacity: 1;
    transition: all 0.3s ease;

    font-size: 1.4rem;
    line-height: 140%;
    color: var(--black-50);
    pointer-events: none;

    position: absolute;
    top: 1.5rem;
    left: 2rem;

    span {
      color: var(--red);
    }

    i {
      --font-size: 2rem;

      color: var(--blue);
    }
  }

  &-textarea {
    width: 100%;
    padding: 1.5rem 2rem;
    border-radius: 0.8rem;
    background-color: var(--white);
    resize: none;

    &.filled,
    &:focus,
    &:active,
    &:checked {

      &+.form-label {
        opacity: 0;
      }
    }
  }

  &__row {

    &-1 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;

      @include md {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &-2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;

      @include md {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &-3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      @include md {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &-captcha {
    width: auto;
    height: 4.6rem;

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }

  &-foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .check {
      position: static;
    }

    a {
      color: var(--blue);
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}