@use './../mixins' as *;

.banners {

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    border-radius: 1.5rem;
    min-height: 21rem;
    padding: 3rem;
    overflow: hidden;

    color: var(--white);

    position: relative;

    @include md {
      padding: 2rem;
    }

    &:hover {

      @include domd {
        i {
          transform: translateX(1rem);
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 100%;

      position: relative;
      z-index: 3;
    }

    &-suptitle {}

    &-sale {
      font-weight: 700;
      font-size: 5rem;
      line-height: 100%;
      color: var(--blue);

      margin-bottom: 0.5rem;
    }

    &-title {}

    &-text {

      @include md {
        display: none;
      }
    }

    &-btn {
      padding: 0 3rem;
      box-shadow: 0px 10px 19.4px rgba(255, 100, 33, 0.31);
    }

    i {
      --font-size: 3rem;

      background-color: var(--blue);
      margin-top: auto;

      color: var(--white);
    }

    &-bg {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-cover {
      pointer-events: none;
      position: absolute;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &--1 {
      grid-column: 1/3;
      grid-row: 1/2;
      padding: 2rem 2rem 3rem 3rem;

      .banners__item-cover--first {
        width: 41.1rem;
        height: 31.6rem;

        top: -5.6rem;
        right: 5.3rem;
        z-index: 2;

        @include md {
          width: 29.5rem;
          height: 21.1rem;

          top: 3.3rem;
          right: -7.4rem;
        }
      }

      .banners__item-cover--last {
        width: 21.5rem;
        height: 20rem;

        top: -6rem;
        right: 22.2rem;
        z-index: 1;

        @include md {
          display: none;
        }
      }
    }

    &--2 {
      grid-column: 1/2;
      grid-row: 2/3;

      background-color: var(--black);

      .banners__item-cover--first {
        width: 29.6rem;
        height: 23.6rem;

        right: -8.7rem;
        bottom: -8.1rem;
        z-index: 2;

        @include md {
          width: 23.4rem;
          height: 18.7rem;

          right: -9.3rem;
          bottom: -3.1rem;
        }
      }

      .banners__item-cover--last {
        width: 7.4rem;
        height: 10.7rem;

        top: -4.5rem;
        right: 0.1rem;
        z-index: 1;
      }
    }

    &--3 {
      grid-column: 2/3;
      grid-row: 2/3;

      background-color: var(--blue);

      i {
        background-color: var(--white);
        color: var(--black);
      }

      .banners__item-cover--first {
        width: 17.5rem;
        height: 21.3rem;

        bottom: -10.1rem;
        right: -3rem;
        z-index: 2;

        @include md {
          width: 13.2rem;
          height: 16.1rem;

          bottom: -5.3rem;
          right: -1.8rem;
        }
      }

      .banners__item-cover--last {
        width: 11.9rem;
        height: 11.6rem;

        top: -3.8rem;
        right: 2.25rem;
        z-index: 1;

        @include md {
          display: none;
        }
      }
    }

    &--4 {
      grid-column: 3/4;
      grid-row: 1/3;

      background-color: var(--white);

      color: var(--black);

      @include md {
        grid-column: 1/3;
        grid-row: 3/4;
      }

      .banners__item-cover--first {
        width: 39.3rem;
        height: 38.5rem;

        bottom: -7.6rem;
        right: -2.3rem;
        z-index: 2;

        @include md {
          width: 31.8rem;
          height: 31.2rem;

          right: -1.6rem;
          bottom: -8.65rem;
        }
      }

      .banners__item-cover--last {
        width: 24.8rem;
        height: 25.5rem;

        top: 5.5rem;
        right: -7.7rem;
        z-index: 1;

        @include md {
          display: none;
        }
      }
    }
  }
}