@use './../mixins' as *;

.banners {

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    border-radius: 1.5rem;
    min-height: 21rem;
    padding: 3rem;
    overflow: hidden;

    position: relative;

    @include md {
      padding: 2rem;
    }

    &:nth-child(1) {
      grid-column: 1/3;
      grid-row: 1/2;
      padding: 2rem 2rem 3rem 3rem;
    }

    &:nth-child(2) {
      grid-column: 1/2;
      grid-row: 2/3;

      background-color: var(--black);
    }

    &:nth-child(3) {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    &:nth-child(4) {
      grid-column: 3/4;
      grid-row: 1/3;

      @include md {
        grid-column: 1/3;
        grid-row: 3/4;
      }
    }

    &-bg {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-cover {
      pointer-events: none;
      position: absolute;
      z-index: 1;

      &--1 {
        width: 41.1rem;
        height: 31.6rem;

        top: -5.6rem;
        right: 5.3rem;
        z-index: 2;

        @include md {
          width: 29.5rem;
          height: 21.1rem;

          top: 3.3rem;
          right: -7.4rem;
        }
      }

      &--2 {
        width: 21.5rem;
        height: 20rem;

        top: -6rem;
        right: 22.2rem;
        z-index: 1;

        @include md {
          display: none;
        }
      }

      &--3 {
        width: 29.6rem;
        height: 23.6rem;

        right: -8.7rem;
        bottom: -8.1rem;
        z-index: 1;

        @include md {
          width: 23.4rem;
          height: 18.7rem;

          right: -9.3rem;
          bottom: -3.1rem;
        }
      }

      &--4 {
        width: 7.4rem;
        height: 10.7rem;

        top: -4.5rem;
        right: 0.1rem;
        z-index: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    color: var(--white);

    position: relative;
    z-index: 3;

    &-suptitle {
      margin-bottom: 1.5rem;
    }

    &-sale {
      font-weight: 700;
      font-size: 5rem;
      line-height: 96%;
      color: var(--blue);

      margin-bottom: 2.8rem;
    }

    &-title {
      margin-bottom: 2rem;
    }

    &-text {

      @include md {
        display: none;
      }
    }

    &-btn {
      padding: 0 3rem;
    }
  }
}