@use './../mixins' as *;

.cabinet {

  &__inner {
    display: grid;
    grid-template-columns: 29.5rem 92.5rem;
    gap: 2rem;

    @include md {
      grid-template-columns: 1fr;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-item {
      display: flex;
      align-items: center;
      height: 5rem;
      padding: 0 1.5rem;
      border-radius: 0.8rem;
      background-color: var(--white);

      font-weight: 700;
      font-size: 1.4rem;
      line-height: 120%;
      color: var(--gray);

      &:hover,
      &.ajax-btn-active {
        color: var(--white);
        background-color: var(--blue);
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: var(--white-50);
    border: 0.1rem solid var(--white);
    border-radius: 1.5rem;
    padding: 3rem 3rem 4rem;

    @include md {
      padding: 2rem 1.5rem;
    }

    &-head {

      * {
        font-weight: 700;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    border: 0.1rem solid var(--white);
    background-color: var(--white-50);
    overflow: hidden;
    min-height: 36.3rem;

    &-head {
      height: 15.2rem;
    }

    &-img {
      width: 100%;
      height: 15.2rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 100%;
      padding: 2rem;
    }

    &-time {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: 2.5rem;
      padding: 0 1rem;
      border-radius: 10rem;
      background-color: var(--gray);

      color: var(--white);

      * {
        font-weight: 700;
      }
    }

    &-title {
      margin-bottom: auto;

      * {
        font-weight: 700;
      }
    }

    .btn {}
  }

  &__list {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    &-head {
      padding: 0 3rem;
      color: var(--gray);

      border-radius: 1.5rem;
      border: 0.1rem solid var(--white);
      background-color: var(--white-50);

      @include md {
        padding: 0 1.5rem;

        display: none;
      }

      .cabinet__list-items {
        align-items: center;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      padding: 0 3rem;

      border-radius: 1.5rem;
      border: 0.1rem solid var(--white);
      background-color: var(--white-50);

      @include md {
        padding: 0 1.5rem;
      }

      .cabinet__list-items {
        border-bottom: 0.1rem solid var(--gray-20);

        @include md {
          border-bottom: 0;
        }

        &:last-child {
          border-bottom: 0;
        }
      }

      &.process {

        @include md {
          background-color: var(--white-50);
          border: 0.1rem solid var(--white);
          border-radius: 1.5rem;
        }

        .cabinet__list-items {
          border-bottom: 0;
        }
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 2rem 0 0;
    }

    &-title {

      * {
        font-weight: 700;
      }
    }

    &-text {

      @include md {
        display: none;
      }
    }

    &-items {
      display: grid;
      grid-template-columns: 4fr 2fr 2fr 4fr;
      gap: 0 2rem;
      padding: 2rem 0;

      @include md {
        grid-template-columns: 1fr;
        gap: 2rem;
      }

      &--sostav {

        @include md {
          grid-template-columns: 1fr 1fr;
          align-items: flex-end;
        }
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include md {
        font-size: 1.4rem;
      }

      * {
        font-weight: 700;
        max-width: 22rem;
      }

      &.success * {
        color: var(--green);
      }

      &.process * {
        color: var(--yellow);
      }

      &.cancellation * {
        color: var(--red);
      }

      &--zakaz,
      &--summ,
      &--status {

        @include md {
          flex-direction: row;
        }

        &::before {
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 120%;
          color: var(--gray);

          display: none;

          @include md {
            display: block;
          }
        }
      }

      &--zakaz {

        &::before {
          content: "Заказ";
        }
      }

      &--summ {

        &::before {
          content: "Сумма";
        }
      }

      &--status {

        &::before {
          content: "Статус";
        }
      }

      &--docs {

        &::before {
          content: "Документы";

          font-weight: 400;
          font-size: 1.4rem;
          line-height: 120%;
          color: var(--gray);

          display: none;

          @include md {
            display: block;
          }
        }
      }
    }

    &-links {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      a {
        font-weight: 400;
      }
    }

    a {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      font-size: 1.4rem;
      color: var(--blue);

      i {
        --font-size: 1.6rem;
      }

      p {
        text-decoration: underline;
      }
    }
  }

  .block {

    .cart__items {

      @include md {
        display: none;
      }
    }

    .card__item-diameter,
    .card__item-material {
      display: flex;

      span {
        color: var(--black);
        font-weight: 400;
      }
    }

    .card__item-art {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      span {
        color: var(--black);
        font-weight: 400;
      }
    }

    .card__item-tags {
      position: static;
    }

    .card__item-price {
      color: var(--blue);
    }
  }
}