@use './../mixins' as *;

.cabinet {

  &__inner {
    display: grid;
    grid-template-columns: 29.5rem 92.5rem;
    gap: 2rem;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-item {
      display: flex;
      align-items: center;
      height: 5rem;
      padding: 0 1.5rem;
      border-radius: 0.8rem;
      background-color: var(--white);

      font-weight: 700;
      font-size: 1.4rem;
      line-height: 120%;
      color: var(--gray);

      &:hover,
      &--active {
        color: var(--white);
        background-color: var(--blue);
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: var(--white-50);
    border: 0.1rem solid var(--white);
    border-radius: 1.5rem;
    padding: 3rem 3rem 4rem;

    &-head {

      * {
        font-weight: 700;
      }
    }
  }
}