@use './../mixins' as *;

.cart {
  overflow-x: visible;

  .control {

    .block & {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

  &__inner {
    display: grid;
    gap: 1rem 2rem;

    .block & {
      grid-template-columns: 92.5rem 29.5rem;
    }
  }

  &__side {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 6rem;
    padding: 3rem;
    // background-color: var(--white-50);
    // backdrop-filter: blur(6px);
    background-color: var(--white);
    border: 0.1rem solid var(--white);
    border-radius: 1.5rem;

    position: sticky;
    top: var(--header-height);
    z-index: 10;

    @include md {
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
      padding: 2rem;
    }

    .block & {
      flex-direction: column;
      align-items: flex-start;
      gap: 3rem;
      height: fit-content;

      grid-column: 2/3;
      grid-row: 1/3;
    }

    &-suptitle {
      color: var(--blue);

      * {
        font-weight: 700;
        font-weight: 400;
      }

      .block & {
        color: inherit;

        * {
          font-weight: 400;
          font-size: 2.5rem;
        }
      }
    }

    &-title {

      * {
        font-weight: 400;
        font-weight: 700;

        .block & {
          font-size: 3.4rem;
        }
      }

      .block & {
        color: var(--blue);
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include md {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }

      * {
        white-space: nowrap;
      }

      .block & {

        &:not(.cart__side-item:first-child) {
          display: none;
        }
      }
    }

    &-btns {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
      width: 100%;

      @include md {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @include xs {
        grid-template-columns: 1fr;
        margin-top: 2rem;
      }

      .block & {
        flex-direction: column;
        justify-content: flex-start;
      }

      .btn {
        justify-content: space-between;
        max-width: 23.5rem;
        width: 100%;
        color: var(--white);
        background-color: var(--gray);

        @include xs {
          max-width: 100%;
        }

        &:first-child {
          background-color: var(--orange);
        }

        i {
          background-color: var(--white);
          color: var(--gray);
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: var(--white-50);
    border: 0.1rem solid var(--white);
    border-radius: 1.5rem;
    padding: 3rem;

    @include md {
      padding: 0;
      background: transparent;
      border: 0;
    }

    .block & {
      background-color: transparent;
      border: 0;
      padding: 0;

      max-width: 92.5rem;

      grid-column: 1/2;
      grid-row: 2/3;
    }
  }

  &__head {
    display: grid;
    // grid-template-columns: 6fr 2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 6.5fr 2fr 1fr 1fr 1fr 0.5fr;
    gap: 2rem;

    @include md {
      display: none;
    }

    .block & {
      display: none;
    }

    &-item {

      * {
        font-weight: 700;
        color: var(--blue);
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;

    @include md {
      gap: 1rem;
    }

    .block & {
      gap: 1rem;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 6.5fr 2fr 1fr 1fr 1fr 0.5fr;
    gap: 2rem;
    padding: 2rem 0;
    border-top: 0.1rem solid var(--gray-20);

    position: relative;

    @include md {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      border-top: 0;

      padding: 2rem 1.5rem;
      border-radius: 0.8rem;
      background-color: var(--white-50);
    }

    .block & {
      grid-template-columns: 2.5fr 4fr 3fr 2.5fr;
      padding: 2rem 2rem 3rem 2rem;
      background-color: var(--white-50);
      border: 0.1rem solid var(--white);
      border-radius: 1.5rem;

      @include md {
        padding: 2rem 2rem 1rem 2rem;
      }
    }

    &-img {
      display: none;
      height: 12.2rem;

      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }

      .block & {
        display: block;

        grid-column: 1/2;
        grid-row: 1/5;
      }
    }

    &-text {
      display: flex;
      align-items: center;

      .cart__page & {
        padding-top: 1.1rem;
        height: fit-content;

        @include md {
          padding-top: 0;
        }
      }

      * {
        font-weight: 700;

        .block & {
          font-size: 1.6rem;

          @include md {
            font-size: 1.2rem;
          }
        }
      }

      &--name {

        .block & {
          flex-direction: column;
          align-items: flex-start;
          gap: 1.5rem;

          grid-column: 2/3;
          grid-row: 1/5;

          @include md {
            gap: 1rem;

            grid-row: 1/2;
          }
        }

        .h6 {

          .cart__item--disabled & {
            opacity: 0.5;
          }
        }

        .cart__item-wrap {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          @include md {
            gap: 0.5rem;
          }

          span {

            &:nth-child(2) {
              font-weight: 700;
              color: var(--red);

              @include md {
                line-height: 120%;
                font-size: 1rem;
              }
            }

            &:last-child {
              font-weight: 400;
              color: var(--gray);

              @include md {
                line-height: 120%;
                font-size: 1rem;
              }
            }
          }
        }
      }

      &--price {

        .block & {
          display: none;
        }

        .cart__item--disabled & {
          opacity: 0.5;
        }

        @include md {
          align-items: flex-end;
          gap: 1rem;
        }

        &::before {
          content: "Цена:";

          font-weight: 400;
          font-size: 1.4rem;
          line-height: 120%;
          color: var(--blue);

          display: none;

          @include md {
            display: block;
          }
        }
      }

      &--weight {

        .block & {
          display: none;
        }

        .cart__item--disabled & {
          opacity: 0.5;
        }

        @include md {
          align-items: flex-end;
          gap: 1rem;
        }

        &::before {
          content: "Вес:";

          font-weight: 400;
          font-size: 1.4rem;
          line-height: 120%;
          color: var(--blue);

          display: none;

          @include md {
            display: block;
          }
        }
      }

      &--sum {

        .block & {
          display: flex;
          flex-direction: column-reverse;
          align-items: flex-start;
          gap: 0.5rem;

          grid-column: 3/4;
          grid-row: 2/3;

          @include md {
            grid-column: 2/3;
            grid-row: 3/4;
          }
        }

        .cart__item--disabled & {
          opacity: 0.5;
        }

        @include md {
          align-items: flex-end;
          gap: 1rem;
        }

        &::before {
          content: "Сумма:";

          font-weight: 400;
          font-size: 1.4rem;
          line-height: 120%;
          color: var(--blue);

          display: none;

          @include md {
            display: block;
          }

          .cabinet-cart & {

            @include md {
              display: none;
            }
          }
        }
      }

      .card__item-sale {
        display: none;

        * {
          font-size: 1.4rem;
        }

        .block & {
          display: block;
        }
      }

      .card__item-price {

        * {
          font-size: 1.4rem;
          color: inherit;

          .block & {
            font-weight: 400;
            font-size: 3.4rem;
          }
        }
      }
    }

    &-name {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .cart__page & {

        @include md {
          flex-direction: column;
        }
      }

      &::before {
        content: "";
        display: block;
        width: 1rem;
        height: 1rem;
        margin-top: 0.5rem;
        border-radius: 50%;
        background-color: var(--green);
        flex-shrink: 0;

        .block & {
          display: none;
        }

        .cart__item--disabled & {
          background-color: var(--red);
        }
      }
    }

    &-quantity {

      .block & {
        margin: 1rem 0;

        grid-column: 3/4;
        grid-row: 1/2;
      }

      .quantity {

        &__btn,
        &__text {
          border-radius: 0.8rem;

          .cabinet-cart & {
            border-radius: 5rem;
          }
        }
      }

      .cabinet-cart & {
        display: none;

        @include md {
          display: block;

          grid-column: 2/3;
          grid-row: 2/3;
        }
      }
    }

    &-check {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .check {
        position: static;

        .block & {
          position: absolute;
          top: 1rem;
          left: 1rem;
        }
      }

      .cart__page & {
        padding-top: 1.1rem;
        height: fit-content;

        @include md {
          padding-top: 0;

          position: absolute;
          top: 1rem;
          right: 1rem;
        }
      }
    }
  }

  &__economy {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 1ch;

    .block & {
      display: flex;

      grid-column: 3/4;
      grid-row: 3/4;

      @include md {
        grid-column: 2/3;
        grid-row: 4/5;
      }
    }

    &-wrap {
      padding: 0.3rem 0.7rem;
      border-radius: 10rem;
      background-color: var(--blue);
      color: var(--white);

      * {
        font-weight: 700;
      }
    }
  }

  .card__item {

    &-art,
    &-material,
    &-diameter {
      display: none;

      .block & {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
      }
    }

    &-tags {
      display: none;
      position: static;

      .block & {
        display: flex;
      }
    }

    &-tag {
      font-weight: 400;
      font-size: 0.8rem;
    }
  }
}