@use './../mixins' as *;

.catalog {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include md {
      gap: 1rem;
    }
  }

  &__head {

    @include md {
      display: none;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--white-50);
    border: 0.1rem solid var(--white);
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    transition: all 0.5s ease;
    cursor: pointer;

    position: relative;

    &:hover {
      background-color: var(--gray);
      border-color: var(--gray);
    }

    &-img {
      width: 6.6rem;
      height: 6.6rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-title {

      .catalog__item:hover & {
        color: var(--white);
      }

      h6 {
        font-weight: 700;
      }
    }

    i {
      --font-size: 2.2rem;

      background-color: var(--white);
      transform: rotate(90deg);

      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 29.5rem 92.5rem;
    gap: 2rem;

    @include md {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .filter {

      @include md {
        display: none;
      }
    }
  }

  &__block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    transition: all 0.5s ease;

    @include md {
      gap: 1rem;
    }

    .card__item {
      width: calc((100% / 3) - (4rem / 3));
      height: fit-content;
      transition: all 0.5s ease;

      @include md {
        width: calc((100% / 2) - 1rem);
        gap: 1.5rem;
        padding: 3rem 1rem 1rem 1rem;
      }

      @include xxs {
        width: 100%;
      }

      &-btn {
        display: none;

        &.btn--gray {
          display: none;
        }
      }

      &-text {
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -moz-box-orient: vertical;
        -webkit-box-orient: vertical;
        box-orient: vertical;

        @include md {
          display: none;
        }
      }

      &-art {
        display: none;

        @include md {
          display: flex;
        }
      }

      &-material {
        
        @include md {
          display: flex;
        }
      }

      &-diameter {

        @include md {
          display: flex;
        }
      }

      &-price {
        width: fit-content;

        .product__price {

          * {
            font-weight: 400;
            font-size: 3.4rem;

            @include md {
              font-size: 2rem;
            }
          }
        }
      }

      &-plus {
        display: flex;
      }

      &-name {

        @include md {
          padding-right: 0;
        }
      }

      &-controls {

        @include md {
          top: 1rem;
          right: 1rem;
        }
      }
    }
  }

  &__btn {
    --btn-width: 100%;

    justify-content: space-between;

    @include domd {
      display: none;
    }
  }

  .list & {

    .card__item {
      flex-direction: row;
      width: 100%;
      padding: 3rem;

      @include md {
        padding: 2rem 1.5rem;
      }

      &-img {
        width: auto;
        height: 19.2rem;

        @include md {
          height: 12.2rem;
        }

        img {
          width: auto;
          height: 100%;
        }
      }

      &-wrap {
        gap: 2rem;
      }

      &-text {
        -webkit-line-clamp: unset;
        line-clamp: 0;

        margin-bottom: 1rem;
      }

      &-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 6rem;
        width: 100%;

        @include md {
          gap: 2rem;
        }
      }

      &-price {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        line-height: 120%;
        color: var(--blue);

        span {
          line-height: 100%;
          color: var(--gray);
        }
      }

      &-btn {
        display: flex;

        &--cart {
          margin-bottom: -1rem;
        }

        &.btn--gray {
          display: flex;

          i {
            --font-size: 3.2rem;
          }
        }
      }

      &-art {
        display: flex;
      }

      &-plus {
        display: none;
      }
    }
  }
}