@use './../mixins' as *;

.catalog {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include md {
      gap: 1rem;
    }
  }

  &__head {

    @include md {
      display: none;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--white-50);
    border: 0.1rem solid var(--white);
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;

    position: relative;

    &-img {
      width: 6.6rem;
      height: 6.6rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-title {
      font-weight: 700;
    }

    i {
      --font-size: 2.2rem;

      background-color: var(--white);
      transform: rotate(90deg);

      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 29.5rem 92.5rem;
    gap: 2rem;

    @include md {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .filter {

      @include md {
        display: none;
      }
    }
  }

  &__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include md {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    @include xxs {
      grid-template-columns: 1fr;
    }
  }

  .product-card__item {
    position: relative;
  }

  &__btn {
    --btn-width: 100%;

    justify-content: space-between;
  }
}