@use './../mixins' as *;

.category {

  .general__head {

    @include md {
      display: none;
    }
  }

  &__body {
    position: relative;
  }

  &__slider {
    border-radius: 1.5rem;
  }

  &__slide {

    @include md {
      max-width: 19rem;
    }

    &:last-child {

      .category__item {
        color: var(--white);
        background-color: var(--second-black);

        img {
          display: none;
        }

        i {
          --font-size: 5rem;

          background-color: var(--white);
          color: var(--blue);

          top: 2rem;
          right: 2rem;
          bottom: unset;
        }
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.2rem;
    border-radius: 1.5rem;
    padding: 2rem 5.5rem 2rem 2rem;
    height: 100%;
    background-color: var(--white);

    box-shadow: 5px 12px 23px rgba(113, 133, 149, 0.1);

    &:hover {
      background-color: var(--blue);
      color: var(--white);

      i {
        color: var(--blue);
        background-color: var(--white);
      }
    }

    &-img {
      width: fit-content;
      height: 7rem;

      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }

    &-name {
      font-weight: 700;
      font-size: 1.4rem;
    }

    i {
      --font-size: 2.2rem;

      border-radius: 50%;
      background-color: var(--blue);
      color: var(--white);

      position: absolute;
      right: 2rem;
      bottom: 2rem;
    }
  }
}