@use './../mixins' as *;

.comparison {

  .product__item-controls {
    top: 0;
    right: 0;
  }

  &__inner {}

  &__body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    background-color: var(--white-50);
    border-radius: 1.5rem;
    padding: 4rem 3rem;

    @include md {
      overflow-x: auto;
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 25.5rem;
    flex-shrink: 0;

    position: relative;

    &-head {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 18rem;
      flex-shrink: 0;

      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &-name {

      &:hover {
        color: var(--blue);
      }

      * {
        font-weight: 700;
      }
    }

    &-price {

      .product__price {

        * {
          font-weight: 400;
        }
      }
    }

    &-foot {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;

    &-head {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      i {
        --font-size: 2.2rem;

        background-color: var(--white);
        transform: rotate(-90deg);

        .accordion-active & {
          transform: rotate(90deg);
        }
      }
    }

    &-title {
      color: var(--blue);

      * {
        font-weight: 700;
      }
    }

    &-body {
      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;
      transition: all 0.5s ease;

      .accordion-active & {
        grid-template-rows: 1fr;
        padding-top: 3rem;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      overflow: hidden;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      color: var(--gray);

      span {
        color: var(--black);
      }
    }
  }

  &__btn {
    --btn-height: 4rem;

    border-radius: 5rem;
    gap: 0 0.7rem;

    i {
      --font-size: 1.6rem;
    }
  }
}