@use './../mixins' as *;

.find {

  &__inner {
    min-height: 58.5rem;
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: fit-content;
    padding: 2rem 5rem 2rem 2rem;
    background-color: var(--white-50);
    border-radius: 1.5rem;
    backdrop-filter: blur(8px);
    overflow: hidden;

    position: absolute;
    top: 0.8rem;
    left: 1rem;
    z-index: 2;

    @include domd {
      gap: 2rem;
      padding: 3rem 9.9rem 3rem 3rem;

      top: 9.5rem;
      left: 3rem;
    }

    &-title {

      h4 {
        font-weight: 700;
      }

      @include domd {
        font-size: 2.4rem;
      }
    }

    &-items {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include domd {
        gap: 2rem;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
    }

    &-suptitle {}

    &-text {

      h5 {
        font-weight: 700;
      }
    }

    &-link {
      font-weight: 700;
      width: fit-content;
      
      position: relative;

      @include md {
        font-size: 1.2rem;
      }

      &:hover {

        @include domd {
          color: var(--blue);

          &::before {
            width: 100%;
            left: 0;
          }
        }
      }

      &::before {
        content: "";
        display: block;
        width: 0;
        height: 0.1rem;
        background-color: var(--blue);
        transition: all 0.5s ease-in-out;

        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    &-social {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;

      @include domd {
        gap: 1rem;
      }

      a {
        border: 0.1rem solid var(--gray);
        border-radius: 50%;
        overflow: hidden;
        transition: all 0.5s ease;
        background-color: transparent;

        position: relative;

        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(152, 209, 255, 0.7) 0%, rgba(113, 133, 149, 0.7) 100%), #718595;
          opacity: 1;
          transition: all 0.5s ease;

          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }

        &:hover {

          @include domd {
            background-color: var(--black);
            border-color: var(--black);

            &::before {
              opacity: 0;
            }
          }
        }
      }

      i {
        --font-size: 4rem;

        color: var(--white);
      }
    }
  }

  &__frame {
    width: 100%;
    height: 100%;
    min-height: 58.5rem;
    border-radius: 1.5rem;
    overflow: hidden;

    img {
      max-width: unset;
      height: 100%;
      min-height: 58.5rem;
      object-fit: cover;
    }
  }

  &__zoom {
    display: none;
    flex-direction: column;
    gap: 2rem;

    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);

    @include domd {
      display: flex;
    }

    &-btn {
      width: 5.6rem;
      height: 5.6rem;
      background-color: var(--white);
      border-radius: 50%;
      overflow: hidden;
      transition: all 0.5s ease;

      &:hover {

        @include domd {
          color: var(--white);
          background-color: var(--black);
        }
      }

      i {
        --font-size: 5.6rem;
      }
    }
  }
}