@use './../mixins' as *;

.guarantees {

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    padding-bottom: 2rem;
    border-bottom: 0.1rem solid var(--gray-20);

    @include md {
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem 2rem;

      border-bottom: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;
    border-right: 0.1rem solid var(--gray-20);

    text-align: center;

    @include md {
      justify-content: flex-start;
      align-items: flex-start;
      gap: 3rem;
      border-right: 0;

      text-align: left;
    }

    &-img {
      transition: all 0.5s ease-in-out;

      .guarantees__item:hover & {

        @include domd {
          transform: translateY(-1rem);
        }
      }
    }

    img {
      width: auto;
      height: 13.9rem;
      object-fit: contain;

      @include md {
        height: 11.2rem;
      }
    }

    p {
      font-weight: 700;
    }

    &:last-child {
      border-right: 0;
    }

    &:nth-child(1) {

      img {

        @include md {
          filter: drop-shadow(0px 22px 17.9px rgba(53, 175, 218, 0.55));
        }
      }
    }

    &:nth-child(2) {

      img {

        @include md {
          filter: drop-shadow(0px 22px 17.9px rgba(53, 175, 218, 0.85));
        }
      }
    }

    &:nth-child(3) {

      img {

        @include md {
          filter: drop-shadow(0px 22px 17.9px rgba(53, 175, 218, 0.55));
        }

      }
    }

    &:nth-child(4) {

      img {

        @include md {
          filter: drop-shadow(0px 22px 17.9px rgba(53, 175, 218, 0.75));
        }
      }
    }
  }
}