@use './../mixins' as *;

.placing {
  overflow: clip;

  &__inner {
    display: grid;
    grid-template-columns: 92.5rem 29.5rem;
    gap: 2rem;

    @include md {
      display: flex;
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include md {
      gap: 2rem;
    }

    .btn {
      --btn-color: var(--white);
      --btn-background: var(--blue);

      i {
        background-color: var(--white);
        color: var(--blue);
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding: 2rem 2rem 3rem 2rem;
    border-radius: 1.5rem;
    border: 0.1rem solid var(--white);
    background-color: var(--white-50);
    margin-top: -1rem;

    @include md {
      gap: 1rem;
      background-color: transparent;
      border: 0;
      padding: 0;
    }

    &-btn {

      @include md {
        --btn-width: 100%;

        justify-content: space-between;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    border-radius: 1.5rem;
    border: 0.1rem solid var(--white);
    background-color: var(--white-50);
    padding: 2rem 2rem 2rem 0;

    position: relative;

    @include md {
      align-items: flex-start;
      padding: 2rem 1.5rem 2rem 1.5rem;
    }

    @include xs {
      gap: 1rem;
    }

    &:last-child {
      opacity: 0.5;
    }

    &-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3rem;
      width: 100%;

      @include md {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
      }
    }

    &-img {
      height: 7.7rem;
      flex-shrink: 0;

      @include md {
        height: calc(100vw/(440/122));
      }

      @include xs {
        height: calc(100vw/(440/100));
      }

      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }

    &-title {
      max-width: 23rem;

      @include md {
        margin-bottom: 3rem;
      }

      * {
        font-weight: 700;
      }
    }

    &-price {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      margin-left: auto;

      @include md {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 0.5rem;
        margin-top: 1.5rem;
        margin-left: 0;
      }

      * {
        font-weight: 400;
        line-height: 100%;
      }
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 1.5rem;
    border: 0.1rem solid var(--white);
    background-color: var(--white-50);

    @include md {
      padding: 2rem 1.5rem 2.3rem;
    }

    &--recipient {

      .form__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
      }
    }

    &--pays {

      .placing__block-item {
        min-height: 9rem;
      }
    }

    .form__body {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;

      @include md {
        gap: 1rem;
      }
    }

    .form-group--textarea {
      grid-column: 1/2;
    }

    &-head {
      cursor: pointer;

      * {
        font-weight: 700;

        @include md {
          font-size: 1.4rem;
        }
      }

      a {
        color: var(--blue);
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &-body {
      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;
      transition: all 0.3s ease;
      padding-top: 0;

      .accordion-active & {
        grid-template-rows: 1fr;
        padding-top: 3rem;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      overflow: hidden;
      transition: all 0.3s ease;

      @include md {
        gap: 2rem;
      }
    }

    &-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;

      @include md {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: var(--gray-10);
      border-radius: 0.8rem;
      padding: 2rem;
      min-height: 17.8rem;

      position: relative;

      @include md {
        gap: 2rem;
        padding: 2rem 1.5rem;
        min-height: 14.4rem;
      }

      .check {
        top: 2rem;
        right: 2rem;
        left: unset;
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &-title {
      color: var(--gray-50);

      @include md {
        color: var(--black);
      }

      * {
        font-weight: 700;

        @include md {
          font-size: 1.4rem;
        }
      }
    }

    &-price {
      color: var(--gray-50);

      @include md {
        color: var(--black);
      }

      * {

        @include md {
          font-size: 1.4rem;
        }
      }
    }

    &-text {
      color: var(--gray-50);
      max-width: 28.6rem;

      @include md {
        color: var(--gray);
      }

      * {

        @include md {
          font-size: 1.2rem;
        }
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
    border-radius: 1.5rem;
    border: 0.1rem solid var(--white);
    background-color: var(--white-50);
    height: fit-content;

    position: sticky;
    top: var(--header-height);

    @include md {
      padding: 2rem;
      position: static;
    }

    &-suptitle {

      * {

        @include md {
          font-size: 1.4rem;
        }
      }
    }

    &-title {

      * {
        font-weight: 400;
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include md {
        display: inline;
        column-count: 2;
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @include md {
        break-inside: avoid;
        margin-bottom: 1.5rem;
      }

      &:nth-child(even) {
        margin-bottom: 0;
      }
    }

    &-count {

      * {
        font-weight: 700;

        @include md {
          font-size: 2.5rem;
        }
      }
    }

    &-profit {

      * {
        color: var(--blue);

        @include md {
          font-size: 2.5rem;
        }
      }
    }

    &-link {

      a {
        font-weight: 700;
        color: var(--blue);
        text-decoration: underline;

        @include md {
          font-size: 1.4rem;
        }
      }
    }

    &-btn {
      --btn-height: 4rem;
      --btn-color: var(--white);

      width: 100%;
      border-radius: 5rem;
      gap: 1.5rem;
      padding: 0 0.9rem 0 2rem;
      font-size: 1.2rem;

      i {
        --font-size: 2.2rem;

        background-color: var(--white);
        color: var(--gray);
      }
    }
  }
}