@use './../mixins' as *;

.popular {

  @include md {
    padding-bottom: 5rem;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__body {
    position: relative;
    max-width: 100%;
    width: 100%;
  }

  &__slider {}
}