@use './../mixins' as *;

.press-center {

  @include md {
    padding-bottom: 5rem;
  }

  &__slide {

    @include md {
      max-width: 20.5rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
    background: var(--white);
    box-shadow: 5px 12px 23px rgba(113, 133, 149, 0.1);

    &:hover {

      @include domd {
        color: var(--white);
        background-color: var(--blue);
        box-shadow: 0px 22px 53.3px rgba(53, 175, 218, 0.35);
      }
    }

    &-img {
      width: 100%;
      height: 13.8rem;

      @include md {
        height: 9.6rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 2rem;
      height: 22.5rem;

      @include md {
        gap: 2rem;
        padding: 1rem;
        height: 13.2rem;
      }

      i {
        --font-size: 2.2rem;

        background-color: var(--gray);
        color: var(--white);

        position: absolute;
        right: 2rem;
        bottom: 2rem;

        @include md {
          right: 1rem;
          bottom: 1rem;
        }

        .press-center__item:hover & {

          @include domd {
            background-color: var(--white);
            color: var(--black);
            transform: translateX(1rem);
          }
        }
      }
    }

    &-date {
      line-height: 100%;
      font-size: 1.2rem;
      color: var(--gray);
      transition: all 0.5s ease;

      @include md {
        font-size: 1rem;
      }

      .press-center__item:hover & {
        color: var(--white);
      }
    }

    &-title {

      p {
        font-weight: 700;

        @include md {
          font-size: 1.2rem;
        }
      }
    }
  }
}