@use './../mixins' as *;

.product {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__content {
    display: grid;
    grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
    grid-template-rows: auto 1fr;
    gap: 2rem;

    @include md {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;

    grid-column: 1/2;
    grid-row: 1/3;

    &-top {
      background-color: var(--white-50);
      border: 0.1rem solid var(--white);
      border-radius: 1.5rem;

      position: relative;
    }

    &-bottom {

      @include md {
        display: none;
      }
    }
  }

  &__body {
    grid-column: 2/3;
    grid-row: 1/2;

    @include sm {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &-wrap {

      @include sm {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 1rem;
      }
    }
  }

  &__foot {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  &__slide {
    cursor: pointer;

    &-item {
      border-radius: 0.8rem;
      border: 0.1rem solid transparent;
      background-color: var(--white-50);
      transition: all 0.3s ease;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover,
      .swiper-slide-thumb-active & {
        border-color: var(--blue);
      }
    }
  }

  &__item {
    padding: 4rem 2rem;

    position: relative;

    @include md {
      padding: 4rem;
    }

    &-tags {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      position: absolute;
      top: 3rem;
      left: 3rem;

      @include md {
        top: 2rem;
        left: 2rem;
      }
    }

    &-tag {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.5rem;
      padding: 0 1rem;
      border-radius: 10rem;

      font-weight: 400;
      font-size: 0.8rem;
      line-height: 100%;
      letter-spacing: 0.02em;
      color: var(--white);

      &.yellow {
        background-color: var(--yellow);
      }
    }

    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      img {
        width: auto;
        height: 40.7rem;
        object-fit: contain;

        @include md {
          height: 24.4rem;
        }
      }
    }

    &-controls {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      position: absolute;
      top: 2.3rem;
      right: 3rem;

      @include md {
        right: 2rem;
      }
    }

    &-control {

      i {
        --font-size: 2.4rem;

        color: var(--gray);
      }
    }

    &-art {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      position: absolute;
      bottom: 3rem;
      left: 3rem;

      @include md {
        display: none;
      }

      p {
        color: var(--gray);
        font-size: 1.2rem;
      }
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 3rem 3rem 3rem 4rem;
    border-radius: 1.5rem;
    border: 0.1rem solid var(--white);
    background-color: var(--white-50);

    @include md {
      padding: 2rem 1.5rem 1.5rem 1.5rem;
    }

    &-btns {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include md {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
      }

      @include xs {
        display: flex;
        flex-direction: column;
      }
    }

    &-btn {
      --btn-width: 100%;

      justify-content: space-between;
      border-radius: 5rem;

      @include md {
        font-size: 1.2rem;
      }

      i {
        --font-size: 2.2rem;

        background-color: var(--white);
        color: var(--gray);
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-price {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      @include md {
        margin-top: -0.8rem;
      }

      h3 {
        color: var(--blue);

        @include md {
          font-size: 2.5rem;
        }
      }

      h5 {
        color: var(--gray);
        text-decoration-line: line-through;

        @include md {
          font-size: 1.4rem;
        }
      }
    }
  }

  &__quantity {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    &-btn {
      width: 4rem;
      height: 4rem;
      background-color: var(--gray);
      border-radius: 50%;

      cursor: pointer;
      color: var(--white);

      i {
        --font-size: 4rem;
      }
    }

    &-text {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.2rem;
      width: 8rem;
      height: 4rem;
      border: 0.1rem solid var(--gray-50);
      border-radius: 5rem;

      font-weight: 400;
      font-size: 1.2rem;
      line-height: 140%;
      text-align: center;
    }
  }

  &__foot {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 6rem 4rem 4rem;
    border-radius: 1.5rem;
    border: 0.1rem solid var(--white);
    background-color: var(--white-50);

    @include md {
      gap: 1.5rem;
      padding: 2rem 1.5rem 2rem 1.5rem;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &-btns {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.8rem;
      border: 0.1rem solid var(--gray);
      transition: all 0.3s ease;
      height: 5rem;
      padding: 0 1.5rem;

      text-align: center;
      color: var(--gray);
      cursor: pointer;

      &:hover,
      &.active {
        border-color: var(--blue);
        background-color: var(--blue);
        color: var(--white);
      }
    }

    &-properties {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      @include xs {
        flex-direction: column;
      }
    }

    &-property {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      border-radius: 0.8rem;
      background-color: var(--white);
      height: 5rem;
      padding: 0 1.3rem 0 1rem;

      font-weight: 400;
      font-size: 1.2rem;
      line-height: 120%;
      color: var(--gray);

      i {
        --font-size: 2.3rem;

        color: var(--blue);
      }
    }

    &-title {
      font-weight: 700;
    }

    &-text {
      color: var(--gray);

      p {
        font-size: 1.4rem;
      }
    }
  }
}