@use './../mixins' as *;

.page {

  &__main {
    
    .general__head {
      width: 100%;
    }
  }

  &__inner {

    body {
      // background: radial-gradient(71% 50.86% at 87.6% -2.01%, rgba(225, 235, 246, 0.33) 0%, rgba(255, 255, 255, 0.33) 8.41%, rgba(53, 175, 218, 0.2706) 43.34%, rgba(180, 226, 255, 0.33) 100%), var(--bg);
    }

    .template {
      padding-bottom: 0;

      &__inner {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 2.5rem 0 3rem 0;

        @include md {
          gap: 2rem;
          padding-bottom: 2rem;
        }
      }

      .general__head {
        margin-bottom: 0;
      }
    }
  }
}