@use './../mixins' as *;

.footer {
  background-color: var(--second-black);

  color: var(--gray);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 0;
  }

  &__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem 12rem;

    padding-bottom: 3rem;
    border-bottom: 0.1rem solid var(--gray-10);

    a {
      font-weight: 700;
      font-size: 6rem;
      line-height: 140%;
      color: var(--gray-50);
      white-space: nowrap;

      &:hover {
        color: var(--gray);
      }
    }
  }

  &__top {
    padding-bottom: 3rem;
    border-bottom: 0.1rem solid var(--gray-10);
  }

  &__items {
    display: flex;
    flex-direction: row;
    gap: 4.7rem;
  }

  &__item {

    ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    a {
      font-size: 1.2rem;
    }
  }

  &__center {
    padding-bottom: 3rem;
    border-bottom: 0.1rem solid var(--gray-10);
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-content {
      display: flex;
      flex-direction: row;
      gap: 10rem;
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      p {
        font-size: 1.2rem;
      }

      a {

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-links {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      a {
        font-family: var(--second-family);
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 110%;
        letter-spacing: 0.02em;
        color: var(--gray-50);

        &:hover {
          color: var(--gray);
        }
      }
    }

    &-social {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      a {
        border-radius: 50%;
        border: 0.1rem solid var(--black);
        background: linear-gradient(180deg, rgba(0, 64, 102, 0.7) 0%, rgba(4, 29, 44, 0.7) 100%), #718595;

        &:hover {

          i {
            color: var(--white);
          }
        }
      }

      i {
        --font-size: 4rem;

        color: var(--gray);
      }
    }
  }
}