@use './../mixins' as *;

.header {
  --header-inner-height: 6rem;

  width: 100%;

  position: fixed;
  top: 1.5rem;
  left: 0;
  z-index: 100;

  @include md {
    --header-inner-height: 4rem;

    top: 1rem;
  }

  & * {
    transition: all 0.3s ease;
  }

  .header-fixed & {
    --header-inner-height: 4.4rem;
  }

  .menu-wrapper--open & {
    color: var(--white);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    gap: 0 4rem;
    align-items: center;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 1.5rem;
    border: 0.1rem solid var(--white);
    background-color: rgba(113, 133, 149, 0.15);

    z-index: 2;

    @include md {
      display: none;
    }

    .header-fixed & {
      padding: 0.6rem 1rem 0.6rem 2rem;
    }

    .menu-wrapper--open & {
      background-color: var(--white-05);
      border-color: var(--white-25);
    }

    &-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
  }

  &__geo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    cursor: pointer;

    .dropout {
      right: unset;
      left: -2rem;
      top: calc(100% + 0.1rem);

      &::before {
        right: unset;
        left: 1.3rem;
      }

      &__inner {
        padding: 3rem 4rem 3rem 3rem;
      }
    }

    .menu-wrapper--open & {
      gap: 0.5rem;
    }

    p {
      font-weight: 400;
      // color: var(--blue);
      white-space: nowrap;
      color: var(--black-50);
      text-decoration-style: dotted;
      text-decoration-color: var(--black-50);
      text-decoration-line: underline;

      .menu-wrapper--open & {
        color: var(--white);
        text-decoration-color: var(--white);
      }
    }

    i {
      --font-size: 1.6;

      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      background-color: var(--white);

      color: var(--blue);

      .menu-wrapper--open & {
        width: 1.6rem;
        height: 1.6rem;
        color: var(--white);
        background-color: transparent;
      }
    }
  }

  &__nav {

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
    }

    a {
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 120%;
      white-space: nowrap;
      color: var(--black-50);

      .menu-wrapper--open & {
        color: var(--white-50);
      }

      &:hover {
        color: var(--black);

        .menu-wrapper--open & {
          color: var(--white);
        }
      }
    }
  }

  &__download {
    --btn-height: unset;
    --btn-padding-x: unset;

    background-color: var(--white);
    border-radius: 4rem;
    gap: 0.3rem;
    padding: 0.7rem 1.5rem;

    font-size: 1rem;
    color: var(--orange);

    .menu-wrapper--open & {
      --btn-height: unset;
      --btn-padding-x: unset;

      background-color: transparent;

      font-size: 1.2rem;
      color: var(--blue);
    }

    .header-fixed & {
      --btn-height: 2.4rem;

      padding: 0.4rem 1.5rem;
    }

    &:not(.menu-wrapper--open .header__download):hover {
      background-color: var(--orange);

      color: var(--white);
    }

    i {
      --font-size: 1.6rem;

      .menu-wrapper--open & {
        font-weight: 700;
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    a {
      width: 3rem;
      height: 3rem;
      background-color: var(--white);
      border-radius: 50%;

      .header-fixed.menu-wrapper--open &,
      .menu-wrapper--open & {
        background-color: transparent;
        width: auto;
        height: auto;
      }

      .header-fixed & {
        width: 2.4rem;
        height: 2.4rem;
      }

      &:not(.menu-wrapper--open .header__contact a):hover {
        background-color: var(--second-black);
      }
    }

    i {
      --font-size: 3rem;

      .header-fixed & {
        --font-size: 2.4rem;
      }

      .header-fixed.menu-wrapper--open &,
      .menu-wrapper--open & {
        width: 1.8rem;
        height: 1.8rem;
        color: var(--white) !important;
      }
    }
  }

  &__phone {
    font-weight: 700;
    font-size: 1.6rem;
    white-space: nowrap;

    .menu-wrapper--open & {
      font-size: 1.2rem;
      margin-left: -0.5rem;
    }

    &:hover {
      color: var(--blue);
    }
  }

  &__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    padding: 1rem 1rem 1rem 2rem;
    border-radius: 1.5rem;
    background: var(--blue);
    box-shadow: 0px 12px 33.8px rgba(53, 175, 218, 0.42);
    backdrop-filter: blur(2px);

    z-index: 1;

    @include md {
      padding: 1rem;
    }

    .menu-wrapper--open & {
      background-color: var(--gray-21);
      box-shadow: none;
    }
  }

  &__btn {
    flex-direction: row;
    gap: 1rem;
    height: var(--header-inner-height);
    padding: 0 2rem 0 1.5rem;
    color: var(--black);

    @include md {
      gap: 0.7rem;
      padding: 1rem;
    }

    .menu-wrapper--open & {
      background-color: var(--blue);
      color: var(--white);
    }

    &:hover {

      @include dosm {
        --btn-background: var(--orange);
        color: var(--white);

        i {
          color: var(--white);
        }
      }
    }

    i {
      color: var(--orange);

      @include md {
        --font-size: 2rem;
      }

      .menu-wrapper--open & {
        color: var(--white);
      }
    }
  }

  &__login {
    --btn-height: var(--header-inner-height);

    padding: 1rem 1.3rem 1rem 1.4rem;

    @include md {
      display: none;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--header-inner-height);
    border-radius: 0.8rem;

    position: relative;
    z-index: 1;

    @include md {
      width: 4rem;
      margin-left: auto;
    }

    &:hover {

      &::before {
        background-color: var(--black-70);
        border-color: var(--white);
      }
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--gray);
      opacity: 0.48;
      border: 0.1rem solid var(--white-60);
      border-radius: 0.8rem;
      box-shadow: inset 0px 0px 11.1px rgba(4, 29, 44, 0.5);
      backdrop-filter: blur(4.2px);
      transition: background-color 0.3s ease;

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      .menu-wrapper--open & {
        background-color: var(--gray);
        border-color: var(--white-60);
      }

      .header-fixed & {
        background-color: var(--black-30);
      }

      @include md {
        display: none;
      }
    }

    &-input {
      width: 100%;
      height: 100%;
      // padding: 1.8rem 7.4rem 2.2rem 2rem;
      padding: 0 7.4rem 0 2rem;

      font-weight: 400;
      font-size: 1.4rem;
      line-height: 140%;
      color: var(--white);

      position: relative;
      z-index: 1;

      &::placeholder {
        // color: var(--white-50);
        color: var(--white);
      }

      @include md {
        display: none;
      }

      &.filled+.header__search-block {
        opacity: 1;
        pointer-events: all;
      }
    }

    &-btn {
      width: 3.4rem;
      height: 3.4rem;
      opacity: 0.5;

      cursor: pointer;

      position: absolute;
      top: 50%;
      right: 2rem;
      z-index: 2;
      transform: translateY(-50%);

      @include md {
        opacity: 1;

        right: unset;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .header__search:hover & {
        opacity: 1;
      }

      i {
        --font-size: 3.4rem;

        color: var(--white);
      }
    }

    &-block {
      padding: 2rem 2rem 3rem;
      background-color: var(--black);
      border-radius: 0.8rem;
      max-width: 51.6rem;
      width: 100%;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;

      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;

      li {
        margin-bottom: 1.5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        color: var(--white);

        &:hover {
          color: var(--blue);
        }
      }
    }
  }

  &__navbar {
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    padding: 0.3rem 1.5rem 1.7rem 2.3rem;
    border-radius: 0.8rem;
    // background-color: var(--gray-60);
    background: rgba(255, 255, 255, 0.6);

    @include md {
      display: none;
    }

    .header-fixed & {
      padding: 0.2rem 1.5rem 0.2rem 2.3rem;
    }

    .menu-wrapper--open & {
      background-color: var(--gray-60);
    }

    &:not(.menu-wrapper--open .header__navbar):hover {
      background-color: var(--white);
    }

    .dropout {
      // top: calc(100% + 2rem);
      left: -2.5rem;
      right: unset;

      &::before {
        right: unset;
        left: 3rem;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      color: var(--black);

      position: relative;

      &:hover {

        i:not(.dropout i) {
          color: var(--blue);
        }
      }

      i {
        --font-size: 4rem;

        .menu-wrapper--open & {
          color: var(--white);
        }
      }

      span {
        font-size: 1rem;
        line-height: 140%;
        white-space: nowrap;
        // color: var(--white-50);
        color: var(--black);

        position: absolute;
        top: calc(100% - 0.1rem);

        .header-fixed & {
          font-size: 0;
        }

        .menu-wrapper--open & {
          color: var(--white-50);
        }
      }
    }

    &-count {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3rem;
      background-color: var(--blue);
      width: fit-content;
      min-width: 2rem;
      height: 2rem;
      padding: 0 0.4rem;

      font-size: 0.9rem;
      line-height: 100%;
      text-align: center;
      color: var(--white);

      position: absolute;
      top: 0.3rem;
      right: 0;
      z-index: 2;
    }
  }
}