@use './../mixins' as *;

.logo {
  display: block;
  width: 13.4rem;
  margin-right: 1.8rem;

  flex-shrink: 0;

  @include md {
    width: 12rem;
    margin-right: 0;
  }

  @include sm {
    width: 8.3rem;
  }
}