@use './../mixins' as *;

.plate {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 1rem;
  z-index: 100;

  @include dosm {
    display: none;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1.4rem;
    height: 6rem;
    border-radius: 0.8rem;
    background: var(--black-60);
    backdrop-filter: blur(6.1px);
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--white);

    &-icon {
      position: relative;

      i {
        --font-size: 4rem;
      }

      span {
        border-radius: 3rem;
        padding: 0.3rem 0.4rem 0.4rem 0.4rem;
        background-color: var(--blue);

        font-weight: 400;
        font-size: 0.9rem;
        line-height: 140%;
        text-align: center;
        color: var(--white);

        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
      }
    }

    &-text {
      font-weight: 400;
      font-size: 1rem;
      line-height: 140%;
      color: var(--white-50);

      margin-top: -0.1rem;
    }
  }

  &__btn {
    --btn-color: var(--white);
    --btn-background: var(--blue);
    --btn-height: 4rem;
    --btn-padding-x: 1.2rem;

    font-size: 1.2rem;
  }
}