@use './../mixins' as *;

.popup {
  display: none;
  padding: 6rem 2rem 3rem 2rem;
  border-radius: 1.5rem;
  background-color: var(--white);
  max-width: 28.7rem;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    height: 100%;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 0.4rem 0.4rem 0.4rem 3rem;
    border-radius: 5rem;
    background-color: var(--gray);

    color: var(--white);

    &-telegram {
      background-color: var(--blue);

      i {
        color: #35AFDA;
        background-color: var(--white);

      }
    }

    &-whatsapp {
      background-color: #25D366;

      i {
        background-color: var(--white);
      }
    }

    &-phone {
      background-color: var(--black);

      i {
        color: var(--white);

        background-color: var(--gray);
      }
    }

    &-mail {

      i {
        color: var(--gray);

        background-color: var(--white);
      }
    }

    &-text {
      font-weight: 700;
      font-size: 1.2rem;
    }

    i {
      --font-size: 4.2rem;
    }
  }

  &-filter {
    max-width: unset;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: transparent;
    padding-top: 4rem;

    color: var(--white);

    .f-button.is-close-button {
      right: 0;
      top: 0;
      color: var(--white);
    }

    .filter__item-head {
      background-color: var(--gray);
    }

    .filter__group i {
      background-color: transparent;
    }

    .filter__check {
      border-color: var(--white-50);

      &::before {
        border-radius: 50%;
        background-color: var(--white);
      }
    }

    .filter__item {

      i {
        background-color: var(--white);
        color: var(--black);
      }

      &.active {

        i {
          background-color: var(--blue);
          color: var(--white);
        }
      }
    }
  }
}

.fancybox__slide.has-close-btn {
  padding-top: 1rem;
}

.f-button.is-close-button {
  top: 1.2rem;
  right: 1.2rem;
  color: var(--black);
}

.fancybox__backdrop {
  background: rgba(4, 29, 44, 0.8);
  backdrop-filter: blur(37.65px);
}