@use './../mixins' as *;

.sample {

  &:not(.offers-inner__page .sample) {
    color: var(--gray);
  }

  &__inner {}

  .general {

    &__head {
      margin-bottom: 2rem;
    }
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    line-height: 140%;
    font-size: 1.2rem;

    margin-bottom: 2rem;

    @include md {
      margin-bottom: 1.5rem;
    }
  }

  li {
    font-size: 1.2rem;
    line-height: 140%;

    margin-bottom: 2rem;
    padding-left: 1.8rem;

    position: relative;

    @include md {
      margin-bottom: 1.5rem;
    }

    &::before {
      content: "";
      display: block;
      width: 0.3rem;
      height: 0.3rem;
      border-radius: 50%;
      background-color: var(--second-black);
      flex-shrink: 0;

      position: absolute;
      top: 0.9rem;
      left: 0.75rem;
    }
  }

  &__content {

    h2 {
      font-weight: 400;

      margin-bottom: 2rem;

      @include md {
        margin-bottom: 1.5rem;
      }
    }

    h3 {
      font-size: 1.6rem;
      line-height: 120%;

      margin-bottom: 2rem;

      @include md {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__list {

    &-mb0 {
      margin-bottom: 2rem;

      @include md {
        margin-bottom: 1.5rem;
      }

      li {
        margin-bottom: 0;

        @include md {
          margin-bottom: 0;
        }
      }
    }
  }
}