@font-face {
  font-family: 'MotoristIconFonts';
  src:  url('fonts/MotoristIconFonts.eot?odh2');
  src:  url('fonts/MotoristIconFonts.eot?odh2#iefix') format('embedded-opentype'),
    url('fonts/MotoristIconFonts.ttf?odh2') format('truetype'),
    url('fonts/MotoristIconFonts.woff?odh2') format('woff'),
    url('fonts/MotoristIconFonts.svg?odh2#MotoristIconFonts') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'MotoristIconFonts' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-basket:before {
  content: "\e901";
}
.icon-bento:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e903";
}
.icon-compare:before {
  content: "\e904";
}
.icon-doc:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e906";
}
.icon-favorite:before {
  content: "\e907";
}
.icon-headphone:before {
  content: "\e908";
}
.icon-plane:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-telegram:before {
  content: "\e90b";
}
.icon-whatsapp:before {
  content: "\e90c";
}
