@font-face {
  font-family: 'MotoristIconFonts';
  src:  url('fonts/MotoristIconFonts.eot?q9mcxr');
  src:  url('fonts/MotoristIconFonts.eot?q9mcxr#iefix') format('embedded-opentype'),
    url('fonts/MotoristIconFonts.ttf?q9mcxr') format('truetype'),
    url('fonts/MotoristIconFonts.woff?q9mcxr') format('woff'),
    url('fonts/MotoristIconFonts.svg?q9mcxr#MotoristIconFonts') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'MotoristIconFonts' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-basket:before {
  content: "\e901";
}
.icon-bento:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e903";
}
.icon-cart-min:before {
  content: "\e904";
}
.icon-chevron:before {
  content: "\e905";
}
.icon-chevron-min:before {
  content: "\e906";
}
.icon-compare:before {
  content: "\e907";
}
.icon-doc:before {
  content: "\e908";
}
.icon-download:before {
  content: "\e909";
}
.icon-favorite:before {
  content: "\e90a";
}
.icon-favorite-min:before {
  content: "\e90b";
}
.icon-headphone:before {
  content: "\e90c";
}
.icon-plane:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e90e";
}
.icon-slider-arrow:before {
  content: "\e90f";
}
.icon-star:before {
  content: "\e910";
}
.icon-telegram:before {
  content: "\e911";
}
.icon-whatsapp:before {
  content: "\e912";
}
