@font-face {
  font-family: 'MotoristIconFonts';
  src:  url('fonts/MotoristIconFonts.eot?flsfyq');
  src:  url('fonts/MotoristIconFonts.eot?flsfyq#iefix') format('embedded-opentype'),
    url('fonts/MotoristIconFonts.ttf?flsfyq') format('truetype'),
    url('fonts/MotoristIconFonts.woff?flsfyq') format('woff'),
    url('fonts/MotoristIconFonts.svg?flsfyq#MotoristIconFonts') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'MotoristIconFonts' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-basket:before {
  content: "\e901";
}
.icon-bento:before {
  content: "\e902";
}
.icon-bento-menu:before {
  content: "\e903";
}
.icon-cart:before {
  content: "\e904";
}
.icon-cart-min:before {
  content: "\e905";
}
.icon-check:before {
  content: "\e906";
}
.icon-chevron:before {
  content: "\e907";
}
.icon-chevron-min:before {
  content: "\e908";
}
.icon-compare:before {
  content: "\e909";
}
.icon-doc:before {
  content: "\e90a";
}
.icon-download:before {
  content: "\e90b";
}
.icon-favorite:before {
  content: "\e90c";
}
.icon-favorite-fill-min:before {
  content: "\e90d";
}
.icon-favorite-min:before {
  content: "\e90e";
}
.icon-form-mail:before {
  content: "\e90f";
}
.icon-form-phone:before {
  content: "\e910";
}
.icon-form-photo-camera:before {
  content: "\e911";
}
.icon-form-tie:before {
  content: "\e912";
}
.icon-form-user:before {
  content: "\e913";
}
.icon-headphone:before {
  content: "\e914";
}
.icon-kebab-menu:before {
  content: "\e915";
}
.icon-minus:before {
  content: "\e916";
}
.icon-plane:before {
  content: "\e917";
}
.icon-plate-headphone:before {
  content: "\e918";
}
.icon-plate-mail:before {
  content: "\e919";
}
.icon-plate-phone:before {
  content: "\e91a";
}
.icon-plate-telegram:before {
  content: "\e91b";
}
.icon-plate-whatsapp:before {
  content: "\e91c";
}
.icon-plus:before {
  content: "\e91d";
}
.icon-plus-min:before {
  content: "\e91e";
}
.icon-search:before {
  content: "\e91f";
}
.icon-slider-arrow:before {
  content: "\e920";
}
.icon-star:before {
  content: "\e921";
}
.icon-telegram:before {
  content: "\e922";
}
.icon-thermometer:before {
  content: "\e923";
}
.icon-trash:before {
  content: "\e924";
}
.icon-whatsapp:before {
  content: "\e925";
}
