@use './../mixins' as *;

html {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  --refRes: 1440;

  font-size: calc(100vw / var(--refRes) * 10);
  scroll-behavior: smooth;

  @include md {
    font-size: 62.5%;
  }
}

body {
  min-width: 320px;
  background-color: var(--bg);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
  color: var(--black);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  padding-top: 1.5rem;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

section {
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  color: inherit;
  transition: all 0.3s ease;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}