@use './../mixins' as *;

html {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  --refRes: 1440;

  font-size: calc(100vw / var(--refRes) * 10);
  scroll-behavior: smooth;

  @include md {
    font-size: 62.5%;
  }
}

@media (min-width: 1441px) {
  html {
    $ratio: 0;
    font-size: calc(10px + ($ratio * 10) * ((100vw - var(--refRes) * 1px) / var(--refRes)));
  }
}

body {
  min-width: 320px;
  // background-color: var(--bg);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
  color: var(--black);
  cursor: default;

  background: radial-gradient(71% 50.86% at 87.6% -2.01%, rgba(225, 235, 246, 0.33) 0%, rgba(255, 255, 255, 0.33) 8.41%, rgba(53, 175, 218, 0.2706) 43.34%, rgba(180, 226, 255, 0.33) 100%), var(--bg);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;

  padding-top: var(--header-height);
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

section {
  overflow-x: hidden;
  overflow-y: hidden;

  padding-bottom: 5rem;

  @include md {
    padding-bottom: 3rem;
  }
}

a {
  color: inherit;
  transition: all 0.5s ease;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}