@use './../mixins' as *;

/* Главный общий блок */
.general {

  &__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;

    @include md {
      margin-bottom: 2.5rem;
    }

    &-btns {

      .btn {
        --btn-height: 4rem;
        --btn-color: var(--blue);

        border-radius: 5rem;
        gap: 1.5rem;
        padding: 0 0.9rem 0 2rem;

        font-size: 1.2rem;

        &:hover {
          --btn-color: var(--white);
        }

        i {
          --font-size: 2.2rem;

          background-color: var(--blue);
          color: var(--white);
        }
      }
    }
  }
}

.border {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    inset: 0;
    border-radius: 1.5rem;
    padding: 0.1rem;
    background:
      linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%) border-box;
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease;

    .menu-wrapper--open & {
      opacity: 1;
    }
  }
}

[data-split="lines"],
[data-split="text"],
[data-transform="fade"] {}

[data-animation="parallax-img"] {
  overflow: hidden;

  img {
    height: 140% !important;
    margin-top: -10%;
    object-fit: cover;
  }
}