@use './../mixins' as *;

/* Главный общий блок */
.general {

  &__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;

    @include md {
      width: 100%;
      margin-bottom: 2.5rem;
    }

    .page__favorites & {
      align-items: flex-end;
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &-text {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 120%;

      .template & {
        font-size: 1.4rem;
        margin-bottom: 0;
      }

      .page__favorites & {

        @include md {
          display: none;
        }
      }

      a {
        color: var(--blue);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__head .general__head-btns,
  &__btns {

    @include md {
      order: 3;
    }

    .btn {
      --btn-height: 4rem;
      --btn-color: var(--blue);

      border-radius: 5rem;
      gap: 1.5rem;
      padding: 0 0.9rem 0 2rem;

      font-size: 1.2rem;

      &:hover {
        --btn-color: var(--white);
        --btn-background: var(--black);
      }

      i {
        --font-size: 2.2rem;

        background-color: var(--blue);
        color: var(--white);
      }
    }
  }

  &__btns {

    @include md {
      width: 100%;
      margin-top: 3.5rem;
    }

    .btn {

      @include md {
        --btn-width: 100%;
        --btn-height: 5rem;

        padding: 0 1.4rem 0 2rem;
        justify-content: space-between;
      }
    }
  }

  &__tabs {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--gray);
      border-radius: 5rem;
      padding: 0 2rem;
      height: 4rem;
      transition: all 0.5s ease;

      font-weight: 400;
      font-size: 1.2rem;
      line-height: 100%;
      color: var(--white);
      cursor: pointer;

      &:hover,
      &.ajax-btn-active {
        background-color: var(--white);
        color: var(--gray);
      }
    }
  }
}

.border {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    inset: 0;
    border-radius: 1.5rem;
    padding: 0.1rem;
    background:
      linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%) border-box;
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease;

    .menu-wrapper--open & {
      opacity: 1;
    }
  }
}

.quantity {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  &__btn {
    width: 4rem;
    height: 4rem;
    background-color: var(--gray);
    border-radius: 50%;

    cursor: pointer;
    color: var(--white);

    i {
      --font-size: 4rem;
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    width: 8rem;
    height: 4rem;
    border: 0.1rem solid var(--gray-50);
    border-radius: 5rem;

    font-weight: 400;
    font-size: 1.2rem;
    line-height: 100%;
    text-align: center;

    input {
      width: 100%;
      text-align: center;
    }

    .page__product & {

      @include md {
        width: 100%;
      }
    }
  }

  .page__product & {

    @include md {
      width: calc(50% - 0.5rem);
    }
  }
}

[data-split="lines"],
[data-split="text"],
[data-transform="fade"] {}

[data-animation="parallax-img"] {
  overflow: hidden;

  img {
    height: 140% !important;
    margin-top: -10%;
    object-fit: cover;
  }
}

.border-opacity {
  flex-shrink: 0;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;
    flex-shrink: 0;
    inset: 0;
    border-radius: 0.4rem;
    padding: 0.1rem;
    background: linear-gradient(180deg, var(--white-50) 21%, var(--white-0) 100%) border-box;
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }
}