@use './../mixins' as *;

/* Главный общий блок */
.general {

  &__head {
    margin-bottom: 4rem;
  }
}

.border {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    inset: 0;
    border-radius: 1.5rem;
    padding: 0.1rem;
    background:
      linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%) border-box;
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease;

    .header-catalog-open & {
      opacity: 1;
    }
  }
}