@use './../mixins' as *;

:root {
  --font-family: "TeXGyreHeros", sans-serif;
  --second-family: "HelveticaNeue", sans-serif;
  --third-family: "Montserrat", sans-serif;

  --container-padding: 10rem;
  --container-width: 124rem;
  --header-height: 17.6rem;

  --bg: #F5F5F5;
  --white: #ffffff;
  --white-05: rgba(255, 255, 255, 0.05);
  --white-25: rgba(255, 255, 255, 0.25);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-60: rgba(255, 255, 255, 0.6);
  --black: #041D2C;
  --black-10: rgba(4, 29, 44, 0.1);
  --black-30: rgba(4, 29, 44, 0.3);
  --black-50: rgba(4, 29, 44, 0.5);
  --black-60: rgba(4, 29, 44, 0.6);
  --black-70: rgba(4, 29, 44, 0.7);
  --second-black: #1E2327;
  --blue: #35AFDA;
  --green: #52BB79;
  --red: #EE5956;
  --orange: #FF6421;
  --yellow: #EDA74C;
  --gray: #718595;
  --gray-10: rgba(113, 133, 149, 0.1);
  --gray-15: rgba(113, 133, 149, 0.15);
  --gray-20: rgba(113, 133, 149, 0.20);
  --gray-21: rgba(113, 133, 149, 0.21);
  --gray-25: rgba(113, 133, 149, 0.25);
  --gray-48: rgba(113, 133, 149, 0.48);
  --gray-50: rgba(113, 133, 149, 0.5);
  --gray-60: rgba(113, 133, 149, 0.6);
  --white-gray: #D9D9D9;
  --white-gray-50: rgba(217, 217, 217, 0.5);

  @include md {
    --container-padding: 1rem;
    --header-height: 8rem;
  }

  @include sm {
    --container-padding: 1rem;
  }
}